@using BlazingApple.Blog.Services
@inject BlogService BlogService
@if (!_awaitingResponses)
{
    <div class="ba-blog">

        @if(_posts != null && _users != null)
        {
            foreach (Post post in _posts)
            {
                <RenderPost Post="@post" Author="@_users[post.Author]" />
            }
        }
        
    </div>
}
else
{
    <Loading />
}
