@if (posts != null && users!=null)
{
	<div class="ba-blog">
		@foreach(Post post in posts) {
			<RenderPost Post="@post" Author="@users.FirstOrDefault(user=>user.Id==post.Author)" />
		}
	</div>
}
else
{
	<Loading/>
}

@code {
	[Parameter]
	public WordPressClient Client { get; set; }

	private IEnumerable<Post> posts;
	private IEnumerable<User> users;
	protected override async Task OnParametersSetAsync()
	{
		await base.OnParametersSetAsync();
		posts = await Client.Posts.Get();
		users = await Client.Users.GetAll();
	}

	private async void getPosts()
	{
		posts = await Client.Posts.Get();
	}
	private async void getUsers()
	{
		users = await Client.Users.GetAll();
	}
}
