@using BlazingApple.Blog.Services
@inject BlogService BlogService
@if (_post != null && _users != null)
{
	<div class="ba-blog">
		<RenderPost Post="@_post" Author="@_users[_post.Author]" />
	</div>
}
else
{
	<Loading />
}

@code {
	[Parameter]
	public int PostId { get; set; }

	private Post? _post;
	private IDictionary<int,User>? _users;
	protected override async Task OnInitializedAsync()
	{
		await base.OnInitializedAsync();

		_post = await BlogService.GetPost(PostId);
		_users = await BlogService.GetUsers();
	}
}
