@inject BlogService BlogService
@if (posts != null && users!=null)
{
	<div class="ba-blog">
		@foreach(Post post in posts) {
			<RenderPost Post="@post" Author="@users.FirstOrDefault(user=>user.Id==post.Author)" />
		}
	</div>
}
else
{
	<Loading/>
}

@code {
	[Parameter]
	public WordPressClient Client { get; set; }

	private IEnumerable<Post> posts;
	private IEnumerable<User> users;
	protected override async Task OnInitializedAsync()
	{
		await base.OnInitializedAsync();

		posts = await BlogService.GetPosts(Client);
		users = await BlogService.GetUsers(Client);
	}
}
