@if (posts != null)
{
	<div class="ba-blog">
		@*<Virtualize Items="posts.ToList()" Context="post" TItem="@WordPressPCL.Models.Post">
				<RenderPost Post="@post" />
			</Virtualize>*@
		@foreach(Post post in posts) {
			<RenderPost Post="@post" />
		}
	</div>
}

@code {
	[Parameter]
	public WordPressClient Client { get; set; }

	private IEnumerable<Post> posts;
	protected override async Task OnParametersSetAsync()
	{
		await base.OnParametersSetAsync();
		posts = await Client.Posts.Get();
	}
}
