@if (_categories != null)
{
	<ul>
		@foreach (WordPressPCL.Models.Category category in _categories)
		{

			<li>
				<a href="@string.Concat("/categories/", category.Id, "/", category.Slug)" title="@category.Description">@category.Name</a>
			</li>
		}

	</ul>
}
else
{
	<Loading />
}
@code {
	[Inject]
	private WordPressClient Client { get; set; } = null!;

	IEnumerable<WordPressPCL.Models.Category>? _categories;

	protected override async Task OnParametersSetAsync()
	{
		await base.OnParametersSetAsync();
		
		_categories = await Client.Categories.GetAllAsync();
	}
}