
@if (_pages != null)
{
	<ul>
		@foreach (WordPressPCL.Models.Page currentPage in _pages)
		{
			<li>
				<a href="@string.Concat("/pages/", currentPage.Slug, "/",currentPage.Id)" title="@string.Concat("Published ", currentPage.Date)">@((MarkupString)currentPage.Title.Rendered)</a>
			</li>
		}
	</ul>
}
else
{
	<Loading />
}
@code {
	[Inject]
	public WordPressClient Client { get; set; } = null!;

	IEnumerable<WordPressPCL.Models.Page>? _pages;

	/// <inheritdoc/>
	protected override async Task OnParametersSetAsync()
	{
		await base.OnParametersSetAsync();
		_pages = await Client.Pages.GetAllAsync();
	}
}
