@if (BlogPage != null && Author != null)
{
	<h3>@((MarkupString)BlogPage.Title.Rendered)</h3>
	<AuthorDate Author="@Author" Date="@BlogPage.Date" />
	@((MarkupString)BlogPage.Content.Rendered)
}
else
{
	<Loading />
}

@code {

	/// <summary>
	/// The WordPressPCL client to access the Wordpress server API.
	/// </summary>
	[Inject]
	public WordPressClient Client { get; set; } = null!;

	/// <summary>
	/// The Id representing the page to request.
	/// </summary>
	[Parameter]
	public string id { get; set; }

	/// <summary>
	/// The wordpress blog page. Pass this in if already retrieved.
	/// </summary>
	[Parameter]
	public WordPressPCL.Models.Page? BlogPage { get; set; }

	/// <summary>
	/// The author of the page.
	/// </summary>
	[Parameter]
	public User? Author { get; set; }

	/// <inheritdoc />
	protected override async Task OnParametersSetAsync()
	{
		if (BlogPage == null)
			BlogPage = await Client.Pages.GetByIDAsync(id);

		if (Author == null && BlogPage != null)
			Author = await Client.Users.GetByIDAsync(BlogPage.Author);
	}
}
