.ba-post {
	box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.04), 0 2px 4px 0 rgba(0, 0, 0, 0.2);
	max-width: 100%;
	padding: 1rem;
	margin-bottom:1rem;
}

.ba-blog {
	max-width:100%;
}

.tiled-gallery__item img {
	max-width:100%;
}