@if (Post != null)
{
	<div class="ba-post">
		<h3>@((MarkupString)Post.Title.Rendered)</h3>
		<AuthorDate Author="@Author" Date="@Post.Date"/>
		@((MarkupString)Post.Content.Rendered)
	</div>
}

@code {
	[Parameter]
	public Post Post { get; set; }

	[Parameter]
	public User Author { get; set; }
}
